:root {
  --clr-background: #000000;
  --clr-element-bg: #110022;
  --clr-element-muted: #220044;
  --clr-border: #4A0066;
  --clr-title: #FF69B4;
  --clr-subtitle: #CC99FF;
  --clr-accent: #00FF9D;
  --clr-text: #C0C0C0;
  
  --clr-shadow: rgba(255,105,180,0.15);
  --clr-shadow-focus: rgba(0,255,157,0.3);
}
