:root {
  --clr-background: #000F08;
  --clr-element-bg: #001C10;
  --clr-element-muted: #002A18;
  --clr-border: #004D27;
  --clr-title: #00C84D;
  --clr-subtitle: #008F11;
  --clr-accent: #00FF88;
  --clr-text: #C8FFD4;
  
  --clr-shadow: rgba(0,255,65,0.1);
  --clr-shadow-focus: rgba(0,255,136,0.3);
}