:root {
  --clr-background: rgba(16,18,27,0.98);
  --clr-element-bg: rgba(255,255,255,0.08);
  --clr-element-muted: rgba(255,255,255,0.12);
  --clr-border: rgba(255,255,255,0.2);
  --clr-title: #89F7FE;
  --clr-subtitle: #66D9EF;
  --clr-accent: #FF6BCB;
  --clr-text: rgba(255,255,255,0.9);
  
  --clr-shadow: rgba(137,247,254,0.2);
  --clr-shadow-focus: rgba(255,107,203,0.4);
}