:root {
  --clr-background: #F3F5FD;
  --clr-element-bg: #FFFFFF;
  --clr-element-muted: #EAEDF9;
  --clr-border: #D4DAF0;
  --clr-title: #2A2F45;
  --clr-subtitle: #5E6378;
  --clr-accent: #6C5CE7;
  --clr-text: #3A3E52;
  
  --clr-shadow: rgba(108,92,231,0.1);
  --clr-shadow-focus: rgba(108,92,231,0.2);
}