:root {
  --clr-background: #E6FFFA;
  --clr-element-bg: #FFFFFF;
  --clr-element-muted: #F0FFF0;
  --clr-border: #B2F5EA;
  --clr-title: #2D3748;
  --clr-subtitle: #718096;
  --clr-accent: #48BB78;
  --clr-text: #4A5568;
  
  --clr-shadow: rgba(72,187,120,0.15);
  --clr-shadow-focus: rgba(72,187,120,0.3);
}