:root {
  --clr-background: #0A0F1F;
  --clr-element-bg: #151A2B;
  --clr-element-muted: #202538;
  --clr-border: #2F3655;
  --clr-title: #9EB5FF;
  --clr-subtitle: #6E89CC;
  --clr-accent: #FFEE32;
  --clr-text: #B8C7FF;
  
  --clr-shadow: rgba(158,181,255,0.15);
  --clr-shadow-focus: rgba(255,238,50,0.3);
}

/* light: false */