:root {
  --clr-background: #18200A;
  --clr-element-bg: #253312;
  --clr-element-muted: #32461A;
  --clr-border: #435F24;
  --clr-title: #D4E6A5;
  --clr-subtitle: #A3B87D;
  --clr-accent: #FF6B6B;
  --clr-text: #D4E6A5;
  
  --clr-shadow: rgba(212,230,165,0.1);
  --clr-shadow-focus: rgba(255,107,107,0.25);
}