:root {
  --clr-background: #f0f0f0;
  --clr-element-bg: white;
  --clr-element-muted: #eee;
  --clr-border: #ccc;
  --clr-title: #444;
  --clr-subtitle: #666;
  --clr-accent: #666;
  --clr-text: #000;
  
  --clr-shadow: rgba(0,0,0,0.1);
  --clr-shadow-focus: rgba(0,0,0,0.2);
}