:root {
  --clr-background: rgba(16,18,27,0.95);
  --clr-element-bg: rgba(255,255,255,0.05);
  --clr-element-muted: rgba(255,255,255,0.1);
  --clr-border: rgba(255,255,255,0.15);
  --clr-title: #FFFFFF;
  --clr-subtitle: rgba(255,255,255,0.7);
  --clr-accent: #7F5AF0;
  --clr-text: rgba(255,255,255,0.9);
  
  --clr-shadow: rgba(0,0,0,0.3);
  --clr-shadow-focus: rgba(127,90,240,0.4);
}