:root {
  --clr-background: #181818;
  --clr-element-bg: #242424;
  --clr-element-muted: #303030;
  --clr-border: #404040;
  --clr-title: #FFFFFF;
  --clr-subtitle: #AAAAAA;
  --clr-accent: #BB86FC;
  --clr-text: #E0E0E0;
  
  --clr-shadow: rgba(187,134,252,0.1);
  --clr-shadow-focus: rgba(187,134,252,0.25);
}