:root {
  --clr-background: #1A1A1A;
  --clr-element-bg: #262626;
  --clr-element-muted: #333333;
  --clr-border: #4D4D4D;
  --clr-title: #D4FF99;
  --clr-subtitle: #8FB359;
  --clr-accent: #FF467E;
  --clr-text: #E6E6E6;
  
  --clr-shadow: rgba(193,255,114,0.15);
  --clr-shadow-focus: rgba(255,70,126,0.3);
}