:root {
  --clr-background: #331100;
  --clr-element-bg: #4D1A00;
  --clr-element-muted: #662200;
  --clr-border: #803300;
  --clr-title: #FF6600;
  --clr-subtitle: #CC5200;
  --clr-accent: #00FF88;
  --clr-text: #FFD9BF;
  
  --clr-shadow: rgba(255,102,0,0.2);
  --clr-shadow-focus: rgba(0,255,136,0.4);
}

/* light: false */