* {
    transition: background-color 0.3s, color 0.3s;
}

body {
    font-family: "Oswald", "Bahnschrift", sans-serif;
    letter-spacing: -0.075em;
    margin: 20px auto;
    padding: 15px;
    background: var(--clr-background);
    text-transform: uppercase;
    color: var(--clr-text);
}

input, textarea, select, option, button {
    font-family: "Oswald", "Bahnschrift", sans-serif;
    letter-spacing: -0.075em;
    font-size: 1.2em;
    border-radius: 4px;
    background: var(--clr-element-bg);
    color: var(--clr-text);
}

label {
    color: var(--clr-title);
}


.section-title {
    color: var(--clr-title);
    border-bottom: 2px solid var(--clr-accent);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.field {
    display: flex;
    align-items: center;
    padding: 0;
}

.field.wrappable {
    flex-wrap: wrap;
}

.bottomline {
    border-bottom: 1px solid var(--clr-underline);
}

.misc-field {
    display: flex;
    flex-direction: column;
	border-bottom: 0px;
	height: 100%;
}

.misc-field label {
    align-self: flex-start;
    margin-bottom: 10px;
}

.misc-textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0px solid transparent;
    resize: vertical;
    font-size: 14px;
    box-sizing: border-box;
}

.misc-textarea:focus {
    outline: none;
    box-shadow: 0 0 3px var(--clr-shadow);
}

select {
    padding: 10px;
    height: 50%;
    border: 0px solid transparent;
    resize: vertical;
    font-size: 13px;
    box-sizing: border-box;
    border-radius: 0;
}

select:focus {
    outline: none;
    box-shadow: 0 0 3px var(--clr-shadow);
}

.section {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--clr-element-bg);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px var(--clr-shadow);
}

.section.autoheight {
    height: auto;
}

.field label {
    white-space: nowrap;
    font-size: 18px;
    padding: 6px;
	margin-right: 0px;
	font-weight:600;
}

.field input {
    width: 100%;
    padding: 5px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: 15px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #666;
    box-shadow: 0 0 3px var(--clr-shadow-focus);
}

.block-title {
    color: var(--clr-title);
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--clr-placeholder);
}

.block-subtitle {
    font-weight: 600;
    color: var(--clr-subtitle);
    margin: 0 0 2px 0;
    font-size: 16px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: var(--clr-accent);
	margin: 6px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="file"] {
	white-space: nowrap;
	overflow: hidden;
	display: block;
    max-width: 300px;
    background: transparent;
}

.rank-bar {
    display: flex;
    gap: 4px;
    flex-shrink: 0;
}

.rank-selector {
    display: flex;
    gap: 6px;
    padding: 2px;
    padding-right: 10px;
    width: 100%;
}

.rank-dot {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-width: 1px;
	border-radius: 2px;
    background: var(--clr-element-muted);
    cursor: pointer;
}

.rank-dot.active {
    background: var(--clr-accent);
}

.rank-dot:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 4px var(--clr-shadow-focus);
}

.windowContainer {
	display: flex;
}

.sidebar {
	max-width: 10%;
	min-width: 100px;
	padding: 20px 40px 20px 0;
}

.nav-item {
	background: var(--clr-element-bg);
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
    box-shadow: 0 2px 4px var(--clr-shadow);
	transition: background 0.3s;
	cursor: pointer;
	border: 2px solid transparent;
}

.nav-item.active {
	border: 2px solid var(--clr-accent);
}

.nav-item:hover {
	background: var(--clr-element-muted);
}

.content {
	flex: 1;
    max-width: 80%;
}

.document-section {
	display: none;
}

.document-section.active {
	display: block;
}

.removable {
    opacity: 1;
    transform: translateY(0);
    transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        max-height 0.3s ease;
}

.removable.removing {
    opacity: 0;
    transform: translateY(-10px);
}

.removable:not(.filled) {
    opacity: 0.6;
    transform: scale(0.98);
    background: var(--clr-element-muted);
}

.icon {
    width: 50px;
    height: 50px;
}

.text-icon {
    font-size: 20px;
    margin-left: 5px;
    display: flex;
}