.grid {
    display: grid;
    gap: 20px;
}

.statsgrid {
	grid-template-columns: repeat(4, 1fr);
}

.chargrid {
	grid-template-columns: repeat(6, 1fr);
}

.input-group {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.inp {
	padding: 8px;
	border: 0px solid var(--clr-border);
	text-align: center;
}

.input-group input {
    width: 100%;
}

.charinput {
    width: 70%;
}

.input-caption {
    font-size: 10px;
    color: var(--clr-subtitle);
    letter-spacing: 0.5px;
}

.stat-item h4 {
    margin: 0 0 10px 0;
    color: var(--clr-subtitle);
    font-size: 16px;
    font-weight: 600;
}

.characteristics-block {
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
}

.stat-item {
    background: var(--clr-element-bg);
    text-align: center;
    border-radius: 6px;
    border: 1px solid var(--clr-border);
    padding: 15px;
}

@media (max-width: 600px) {
    .characteristics-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.critical-injuries {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.rank-selector {
    justify-content: flex-start;
}

#uploadinput {
    width: 100%;
    text-overflow: ellipsis;
}