.themes-colortest {
    width: 100%;
    height: 40px;
    background-color: red;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    border-width: 2px;
    border-style: dashed;
    border-color: #000000;
}

.themes-colortest-container {
    margin-left: 15px;
    display: flex;
    overflow: hidden;
    width: 100%;
}