.wiki-note {
    border-left: 4px solid var(--clr-accent);
    padding: 10px;
    background-color: var(--clr-element-muted);
    border-radius: 1px;
}

.section .section-title {
    margin-bottom: 0px;
}

.section, .case-sensitive {
    text-transform: none;
}

body .h3-aligned {
    margin-bottom: 0;
    vertical-align: text-bottom;
}

ul li {
    margin-bottom: 5px;
    margin-top: 5px;
}

ul .no-li {
    list-style-type: none;
}

p {
    margin-bottom: 0;
}

h1 {
    margin: 0;
}

table.stylized {
    background: var(--clr-background);
    color: var(--clr-text);
    margin: 20px auto;
    width: 100%;
    table-layout: fixed;
}

table.stylized.autolayout {
    table-layout: auto;
}

.stylized th, .stylized td {
    background: var(--clr-element-bg);
    padding: 12px;
}

th, td {
    padding: 5px;
}

th.centered, td.centered {
    text-align: center;
}

.stylized tr:first-child {
    color: var(--clr-subtitle);
}

.wiki-spawnablegrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: auto;
}

.wiki-spawnablegrid .section {
    height: auto;
}